# Helper functions for visual data handling

In [1]:
import sys
sys.path.append(r'C:\Users\dkq23\Documents\Python Scripts\crypto-ml-api')

In [5]:
from src.data import fetch_crypto_data
df = fetch_crypto_data('bitcoin', days=365)
df.head()

       timestamp         price        volume
0  1731110400000  76550.021385  5.068747e+10
1  1731196800000  76630.226314  3.143091e+10
2  1731283200000  80466.716548  9.347313e+10
3  1731369600000  88637.420003  1.339598e+11
4  1731456000000  88264.599746  1.523568e+11

In [10]:
# import common packages to handle dataframes and arrays
import pandas as pd
import numpy as np

pulled_data = pd.read_csv('../data/bitcoin_features.csv')

In [11]:
pulled_data

         timestamp          price        volume  target
0    1731628800000   87407.512737  9.964939e+10       1
1    1731715200000   90947.975094  8.438249e+10       0
2    1731801600000   90606.454894  4.925517e+10       0
3    1731888000000   89841.471941  4.855608e+10       0
4    1731974400000   90534.624597  7.739172e+10       0
..             ...            ...           ...     ...
355  1762300800000  101635.274023  1.089657e+11       0
356  1762387200000  103877.959660  7.708391e+10       0
357  1762473600000  101322.640295  6.411822e+10       0
358  1762560000000  103396.084216  9.362700e+10       0
359  1762626932000  101968.259852  5.906855e+10       0

[360 rows x 4 columns]

In [13]:
sequences

array([[[9.96493918e+10],
        [8.43824857e+10],
        [4.92551744e+10],
        ...,
        [1.18484958e+11],
        [1.00092043e+11],
        [7.88029033e+10]],

       [[8.43824857e+10],
        [4.92551744e+10],
        [4.85560831e+10],
        ...,
        [1.00092043e+11],
        [7.88029033e+10],
        [5.73219248e+10]],

       [[4.92551744e+10],
        [4.85560831e+10],
        [7.73917242e+10],
        ...,
        [7.88029033e+10],
        [5.73219248e+10],
        [7.06450746e+10]],

       ...,

       [[7.60878847e+10],
        [6.25760328e+10],
        [7.20973067e+10],
        ...,
        [7.50684333e+10],
        [1.08965722e+11],
        [7.70839072e+10]],

       [[6.25760328e+10],
        [7.20973067e+10],
        [1.51002213e+11],
        ...,
        [1.08965722e+11],
        [7.70839072e+10],
        [6.41182172e+10]],

       [[7.20973067e+10],
        [1.51002213e+11],
        [1.08643866e+11],
        ...,
        [7.70839072e+10],
        [6.41182172e+10],
        [9.36270038e+10]]], shape=(330, 30, 1))

In [7]:
pulled_data.head()

       timestamp         price        volume  target       god
0  1731110400000  76550.021385  5.068747e+10       1  0.934549
1  1731196800000  76630.226314  3.143091e+10       1  0.859716
2  1731283200000  80466.716548  9.347313e+10       1  0.937393
3  1731369600000  88637.420003  1.339598e+11       0  0.138366
4  1731456000000  88264.599746  1.523568e+11       1  1.051163

In [15]:
# convert unix timestamp to datetime
pulled_data['datetime'] = pd.to_datetime(pulled_data['timestamp'], unit='ms')

In [17]:
pulled_data.tail()

,timestamp,price,volume,price_change,price_ma_7,price_ma_30,price_std_7,volume_ma_7,target,price_lag_1,price_lag_3,price_lag_7,datetime
332,1762214400000,106521.086738,7.506843e+10,-0.037317,109713.874332,112650.469145,1997.328735,5.672713e+10,0,110650.209282,109573.905556,114182.794428,2025-11-04 00:00:00
333,1762300800000,101635.274023,1.089657e+11,-0.045867,108097.435102,111921.438773,3173.715462,6.282230e+10,1,106521.086738,110014.135568,112950.348633,2025-11-05 00:00:00
334,1762387200000,103877.959660,7.708391e+10,0.022066,107216.190873,111224.920487,3391.242115,6.465781e+10,0,101635.274023,110650.209282,110046.669258,2025-11-06 00:00:00
335,1762473600000,101322.640295,6.411822e+10,-0.024599,106227.887303,110551.716632,3996.876209,6.343915e+10,1,103877.959660,106521.086738,108240.765287,2025-11-07 00:00:00
336,1762549012000,103714.510569,9.446432e+10,0.023606,105390.830876,109897.116822,3787.406694,6.853398e+10,0,101322.640295,101635.274023,109573.905556,2025-11-07 20:56:52