# Helper functions for visual data handling

In [5]:
import sys
sys.path.append(r'C:\Users\dkq23\Documents\Python Scripts\crypto-ml-api')

In [11]:
# import common packages to handle dataframes and arrays
import pandas as pd
import numpy as np

pulled_data = pd.read_csv('../data/bitcoin_features.csv')

In [12]:
pulled_data.head()

,timestamp,price,volume,price_change,price_ma_7,price_ma_30,price_std_7,volume_ma_7,target,price_lag_1,price_lag_3,price_lag_7
0,1733529600000,99973.851507,1.158126e+11,0.028522,97392.348296,92058.068212,1526.448141,9.802672e+10,0,97201.500364,96031.630978,97453.247345
1,1733616000000,99781.829992,6.106114e+10,-0.001921,97859.303674,92851.221152,1702.476234,1.005240e+11,1,99973.851507,98881.469456,96513.142347
2,1733702400000,101235.371703,6.267776e+10,0.014567,98419.827176,93674.066163,2093.212014,1.024569e+11,0,99781.829992,97201.500364,97311.707191
3,1733788800000,97353.947008,1.468468e+11,-0.038341,98637.085858,94364.856853,1844.086963,1.090036e+11,0,101235.371703,99973.851507,95833.136230
4,1733875200000,96649.714468,1.258360e+11,-0.007234,98725.383500,94904.290116,1708.343006,1.144179e+11,1,97353.947008,99781.829992,96031.630978

In [15]:
# convert unix timestamp to datetime
pulled_data['datetime'] = pd.to_datetime(pulled_data['timestamp'], unit='ms')

In [17]:
pulled_data.tail()

,timestamp,price,volume,price_change,price_ma_7,price_ma_30,price_std_7,volume_ma_7,target,price_lag_1,price_lag_3,price_lag_7,datetime
332,1762214400000,106521.086738,7.506843e+10,-0.037317,109713.874332,112650.469145,1997.328735,5.672713e+10,0,110650.209282,109573.905556,114182.794428,2025-11-04 00:00:00
333,1762300800000,101635.274023,1.089657e+11,-0.045867,108097.435102,111921.438773,3173.715462,6.282230e+10,1,106521.086738,110014.135568,112950.348633,2025-11-05 00:00:00
334,1762387200000,103877.959660,7.708391e+10,0.022066,107216.190873,111224.920487,3391.242115,6.465781e+10,0,101635.274023,110650.209282,110046.669258,2025-11-06 00:00:00
335,1762473600000,101322.640295,6.411822e+10,-0.024599,106227.887303,110551.716632,3996.876209,6.343915e+10,1,103877.959660,106521.086738,108240.765287,2025-11-07 00:00:00
336,1762549012000,103714.510569,9.446432e+10,0.023606,105390.830876,109897.116822,3787.406694,6.853398e+10,0,101322.640295,101635.274023,109573.905556,2025-11-07 20:56:52